spring:
  application:
    name: demo-service

  # Spring Insight 配置（关键！）
  insight:
    enabled: true
    service-name: demo-service-test
    service-instance: localhost:8081
    collector:
      url: http://localhost:8080  # Collector地址
    http-tracing-enabled: true

server:
  port: 8081

# 开启 Actuator 端点
management:
  endpoints:
    web:
      exposure:
        include: health,info,env,beans,configprops
  endpoint:
    env:
      enabled: true
    configprops:
      enabled: true

# 日志配置（查看追踪效果）
logging:
  level:
    # 用户可在此控制 Spring Insight Agent的日志细节
    io.github.springinsight.agent: DEBUG # 设置为 DEBUG 可查看详细追踪流程，INFO 只显示关键信息
    io.github.springinsight.agent.collector.AsyncSpanReporter: DEBUG # 配置这个，可以查看上报队列详情